body {
    background: #2c2c2c;
}

aside {
    float : left;
    background : #181818;
    width: 5% ;
    padding :2.5%;
    height: 100vh;
    color : #fff ;
    border-right: 5px solid #4d4d4d;
}

aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top : -30px;
    left : -50px;

}

aside ul {
    list-style: none;
}
aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    font-size: 15px;
    transition: all .6s ease;
}

aside ul li:hover , aside ul a :hover{
    color: #eb5959;
    text-decoration: none ;
    transform: scale(1.05);
}