body {
    background: #2c2c2c;
}

aside {
    float : left;
    background : #181818;
    width: 5% ;
    padding :2.5%;
    height: 100vh;
    color : #fff ;
    border-right: 5px solid #4d4d4d;
}

aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top : -30px;
    left : -50px;

}

aside ul {
    list-style: none;
}
aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    font-size: 15px;
    transition: transform .6s ease;
}

aside ul li:hover , aside ul a :hover{
    color: #eb5959;
    text-decoration: none ;
    transform: scale(1.05);
}

.features{
    float: center;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 200% ;
}

.features h1{font-size: 50px;}
.features p {
    max-width: 400px;
    margin: 20px auto;
}

.alert-waening {
    float :left ;
    clear:both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}